config DRM_KENDRYTE
	tristate "DRM Support for kendryte 510"
	depends on DRM
	select DRM_GEM_CMA_HELPER
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_PANEL
	select VIDEOMODE_HELPERS
	select DRM_MIPI_DSI if KENDRYTE_CADENCE_MIPI_DSI
	help
	  Choose this option if you have a kendryte k510 soc chipset.
	  This driver provides kernel mode setting and buffer
	  management to userspace. This driver does not provide
	  2D or 3D acceleration; acceleration is performed by other
	  IP found on the SoC.


config KENDRYTE_CADENCE_MIPI_DSI
	bool "kendryte specific extensions for cadence  MIPI DSI"
	help
	 This selects support for kendryte SoC specific extensions
	 for the cadence DesignWare dsi driver. If you want to
	 enable MIPI DSI on k510 based SoC, you should selet this
	 option.

