**/*.order
**/*.builtin
**/*.o
**/*.ko
**/*.cmd
**/*.cmd
**/*.mod.c
**/*.tmp
**/*.py
**/*.mk
**/*.a
**/*.E
**/*.tmp*
**/*.so*
scripts/**
.stamp*
drivers/video/logo/*
include/config/
include/generated/
kernel/bounds.s
arch/riscv/include/generated/
.applied_patches_list
.cache.mk
.config
.config.old
.files-list.txt
.missing-syscalls.d
.tmp_versions/
.version
Module.symvers
tools/perf/Documentation/GNUmakefile
usr/include/
arch/riscv/kernel/asm-offsets.s
lib/**
System.map
arch/riscv/kernel/vdso/vdso.lds
arch/riscv/kernel/vmlinux.lds
drivers/scsi/scsi_devinfo_tbl.c
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
kernel/config_data.gz
kernel/config_data.h
vmlinux
