config VIDEO_IMX219_0
	tristate "Sony IMX219 sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API && VIDEO_CANAAN_K510
	depends on MEDIA_CAMERA_SUPPORT
	---help---
	  This is a V4L2 sensor-level driver for the Sony IMX219
	  CMOS image sensor.
config VIDEO_IMX219_1
	tristate "Sony IMX219 sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API && VIDEO_CANAAN_K510
	depends on MEDIA_CAMERA_SUPPORT
	---help---
	  This is a V4L2 sensor-level driver for the Sony IMX219
	  CMOS image sensor.

config VIDEO_IMX385
	tristate "Sony IMX385 sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API && VIDEO_CANAAN_K510
	depends on MEDIA_CAMERA_SUPPORT
	---help---
	  This is a V4L2 sensor-level driver for the Sony IMX385
	  CMOS image sensor.