    config I2C0_TEST_DRIVER
        tristate "i2c0 test driver"
        depends on HAS_DMA
        depends on HAS_IOMEM
        help
          Say Y for enabling the i2c0 test driver

          To compile this support as a module, choose M here:
          The module will be called allegro_encoder.
          If unsure, say N.

